* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{ 
 min-height: 100vh;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.illustration {
    height: 700px;
    width: 80%;
}